.header {
  background-color: $header-bg;
  font-family: Poppins, sans-serif;

  &__bottom {
    @include page-grid;
    grid-template-rows: repeat(8, 1fr);
    color: $header-text;
    height: $header-bottom-height;
    background-color: $header-bg;

    &-title {
      font-family: Poppins;
      font-size: 52px;
      font-weight: 600;
      line-height: 62.4px;
      letter-spacing: -2px;
      text-align: left;
      align-self: end;
      margin: 0;
      grid-column: 1 / -1;

      @include on-desktop {
        grid-column: 1 / 6;
        grid-row: 3 / 5;
      }
    }

    &-subtitle {
      font-family: Open Sans;
      font-size: 18px;
      font-weight: 400;
      line-height: 27px;
      text-align: left;
      grid-column: 1 / -1;
      grid-row: 2 / 3;

      @include on-desktop {
        grid-column: 1 / 6;
        grid-row: 5 / 6;
      }
    }

    &-button {
      align-self: center;
      grid-column: 1/ -1;
      grid-row: 3 / 5;

      @include on-tablet {
        grid-column: 1 / 2;
      }

      @include on-desktop {
        grid-column: 1 / 6;
        grid-row: 6 / 7;
        align-self: end;
      }
    }

    &-img {
      background-image: url(../images/slider/slide-img-1.jpg);
      background-size: cover;
      grid-row: 5 / -1;
      grid-column: 1 / -1;

      @include on-desktop {
        width: $vw50;
        grid-row: 1 / -1;
        grid-column: 7 / -1;
      }
    }
  }
}
