@import 'utils';
@import 'fonts';
@import 'typography';
@import 'blocks';

body {
  margin: 0;
  background: $c-gray;
  min-width: 320px;
}

.button {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 600;
  line-height: 22.5px;
  height: 50px;
  background-color: $after;
  border: 2px solid $after;
  border-radius: 8px;
  color: $header-text;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  &:hover {
    background-color: $header-bg;
    color: $after;
  }
}

.container {
  padding-inline: $padding-inline;
  margin: auto;

  @include on-tablet {
    max-width: 560px;
    padding-inline: 40px;
  }

  @include on-desktop {
    max-width: 920px;
    padding-inline: 52px;
  }
}
