$c-gray: #eee;
$header-bg: #2C2C2C;
$header-text: #FFF;
$after: #2060F6;

$large-min-width: 2560px;
$design-min-width: 1600px;
$desktop-min-width: 1024px;
$tablet-min-width: 640px;
$mobile-min-width: 320px;
